@import "https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap";@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap";:root {--theme-color:#149dddff;--theme-color1:#ff00f2ff;--theme-color1-op1:#ff00f2cc;--theme-color-op1:#149dddcc;--theme-color-op2:#149ddd80;--theme-color-op3:#149ddd1a;--theme-color-grad:linear-gradient(144deg,var(--theme-color1) 0%,var(--theme-color) 100%);--theme-color-grad-op1:linear-gradient(144deg,var(--theme-color1-op1) 0%,var(--theme-color-op1) 100%);--circle-size:140px;--circle-border-width:2px;--line-height:8px;--border-color:#f5f5f5
}
html {
scroll-behavior:smooth
}
body {
font-family:'Roboto',sans-serif;
font-weight:400;
font-size:16px;
line-height:1.7;
background:#fff;
color:#4d4d4d;
width:100%;
height:100%;
overflow:hidden
}.loader {
background:var(--theme-color-grad-op1);
width:100%;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
position:fixed;
top:0;
left:0;
z-index:9999
}.loader div {
width:50px;
height:50px;
border-radius:50%;
background:radial-gradient(farthest-side,#fff 94%,#0000) top/8px 8px no-repeat,conic-gradient(#0000 30%,#fff);-webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
animation:s3 1s infinite linear
}@keyframes s3 {
100% {
transform:rotate(1turn)}}.header-cover {
width:100%;
height:100%;
color:#fff;
background-color:#000;
background-size:cover;
background-attachment:fixed;
background-image:url(../images/cover_bg.jpg);
position:relative
}.bg-img {
width:100%;
height:100%;
background-size:cover;
background-attachment:fixed;
position:relative
}.header-cover .overlay,.bg-img .overlay {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background:var(--theme-color-grad);
opacity:.9
}.header-cover .profile-thumb {
height:200px;
width:200px;
background-size:cover!important;
border-radius:50%}.header-cover h1 {
font-family:"Kaushan Script",cursive;
text-transform:capitalize;
margin-bottom:30px;
font-size:40px;
line-height:1.3;
font-weight:300;-webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);-ms-transform:rotate(-5deg);-o-transform:rotate(-5deg);
transform:rotate(-5deg)}@media screen and (max-width: 600px) {.header-cover h1 {
font-size:40px!important
}}.header-cover h1 span {
padding:4px 15px;
position:relative
}.header-cover h1 span:before {
position:absolute;
top:40px;
left:0;
width:30px;
height:4px;
content:'';
background:#fff;
margin-left:-30px
}.header-cover h1 span:after {
position:absolute;
top:40px;
right:0;
width:30px;
height:4px;
content:'';
background:#fff;
margin-right:-30px
}.header-cover h3 {
margin-bottom:20px;
font-size:20px;
line-height:1.3;
font-weight:500
}.header-cover .social-icons li {
list-style:none;
display:inline;
font-size:24px
}.header-cover .social-icons li a {
display:inline-block;
color:#fff;
padding:0 10px;
line-height:1
}.header-cover .social-icons .fa-download {
top:2px;
position:relative
}.header-cover .social-icons li img {
width:22px;
margin-top:-4px
}.heading h2 {
margin-block:20px;
line-height:1.5;
color:#000
}.back-to-top,.mobile-nav-bar {
position:fixed;
visibility:hidden;
opacity:0;
right:15px;
z-index:996;
background:var(--theme-color-grad);
box-shadow:0 0 10px #fff;
width:40px;
height:40px;
border-radius:50px;
transition:all .4s;
cursor:pointer
}.back-to-top {
bottom:15px
}.mobile-nav-bar {
top:15px
}.back-to-top i,.mobile-nav-bar i {
font-size:20px;
color:#fff;
line-height:0
}.back-to-top:hover,.mobile-nav-bar:hover {
opacity:.8!important
}.back-to-top.active,.mobile-nav-bar.active {
visibility:visible;
opacity:1
}.about ul li {
margin-bottom:10px;
display:flex;
align-items:center
}.about ul strong {
margin-right:10px
}.about ul i {
margin-right:5px;
color:var(--theme-color);
line-height:0
}.about p:last-child {
margin-bottom:0
}.about #call_email,.about #call_mobile,.about #whatsapp_mobile {
line-height:1;
margin-left:5px
}.profile-img {
text-align:center;
padding-bottom:10px
}.profile-img img {
height:200px;
width:200px;
background-size:cover!important;
border-radius:50%}.card-tags span {
margin:3px;
padding:0 10px;
border-radius:10rem;
border:1px solid var(--theme-color);
display:inline-block;
background:var(--theme-color-op3);
font-size:14px
}.card-tags span i {
background:-webkit-linear-gradient(144deg,var(--theme-color) 0%,var(--theme-color-op2) 100%);
background-clip:border-box;-webkit-background-clip:text;-webkit-text-fill-color:transparent
}.timeline {
list-style:none;
padding:20px 0;
position:relative
}.timeline:before {
top:20px;
bottom:0;
position:absolute;
content:" ";
width:2px;
background-color:#e6e6e6;
left:50%;
margin-left:-64px
}.timeline-heading.center {
text-align:center!important
}@media screen and (min-width: 992px) {.timeline:before {
margin-left:0
}}@media screen and (max-width: 768px) {.timeline .timeline-heading {
margin-bottom:30px
}}.timeline .timeline-heading>div h3 {
display:inline-block;
padding:7px 15px;
font-size:16px;
text-transform:uppercase;
letter-spacing:5px;
font-weight:700;
background:#f3f3f3;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;
border-radius:4px
}@media screen and (max-width: 768px) {.timeline .timeline-heading>div h3 {
float:left;
margin-bottom:0
}}.timeline>li {
margin-bottom:20px;
position:relative
}@media screen and (max-width: 768px) {.timeline>li {
margin-bottom:4em
}}.timeline>li:before,.timeline>li:after {
content:" ";
display:table
}.timeline>li:after {
clear:both
}.timeline>li>.timeline-panel {
width:45%;
float:left;
margin-bottom:0;
position:relative;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;
border-radius:4px;
padding:0 20px
}@media screen and (max-width: 768px) {.timeline>li>.timeline-panel {
width:85%!important
}}@media screen and (max-width: 480px) {.timeline>li>.timeline-panel {
width:75%!important
}.timeline>li>.timeline-panel:before {
top:30px
}.timeline>li>.timeline-panel:after {
top:31px
}}.timeline>li>.timeline-badge {
color:#fff;
width:44px;
height:44px;
line-height:50px;
text-align:center;
position:absolute;
top:40px;
left:50%;
margin-left:-21px;
background:var(--theme-color-grad);
z-index:98;
display:table;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;
border-radius:50%}@media screen and (max-width: 768px) {.timeline>li>.timeline-badge {
margin-left:-10px!important;
left:15px;
top:40px!important
}}@media screen and (max-width: 992px) {.timeline>li>.timeline-badge {
margin-left:-10px!important;
left:15px;
top:16px
}.timeline-heading.center {
text-align:left!important
}}.timeline>li>.timeline-badge i {
display:table-cell;
vertical-align:middle;
height:44px;
font-size:18px
}.timeline>li.timeline-unverted {
text-align:right
}@media screen and (max-width: 992px) {.timeline>li.timeline-unverted {
text-align:left
}}.timeline>li.timeline-inverted>.timeline-panel {
float:right
}.timeline>li.timeline-inverted>.timeline-panel:before {
border-left-width:0;
border-right-width:15px;
left:-15px;
right:auto
}.timeline>li.timeline-inverted>.timeline-panel:after {
border-left-width:0;
border-right-width:14px;
left:-14px;
right:auto
}.timeline-title {
margin-top:0
}.company {
display:block;
font-size:16px;
font-weight:400;
color:#bfbfbf
}.time {
display:block;
margin-bottom:20px;
font-size:16px;
font-weight:400
}.timeline-body>p,.timeline-body>ul {
margin-bottom:0
}.timeline-body>p+p {
margin-top:5px
}@media (max-width: 992px) {
ul.timeline:before {
left:90px
}
ul.timeline>li>.timeline-panel {
width:calc(100% - 200px);
width:-moz-calc(100% - 200px);
width:-webkit-calc(100% - 200px);
float:right
}
ul.timeline>li>.timeline-panel:before {
border-left-width:0;
border-right-width:15px;
left:-15px;
right:auto
}
ul.timeline>li>.timeline-panel:after {
border-left-width:0;
border-right-width:14px;
left:-14px;
right:auto
}}.contact {
padding-bottom:130px
}.contact .info {
padding:30px;
margin:16px;
background:#fff;
box-shadow:0 0 24px 0 #0000001f
}.contact .info .email,.contact .info .address,.contact .info .phone {
cursor:pointer
}.contact .info i {
font-size:20px;
color:var(--theme-color);
float:left;
width:44px;
height:44px;
background:var(--theme-color-op3);
display:flex;
justify-content:center;
align-items:center;
border-radius:50px;
transition:all .3s ease-in-out
}.contact .info h4 {
padding:0 0 0 60px;
font-size:20px;
font-weight:600;
margin-bottom:5px;
color:#050d18
}.contact .info p {
padding:0 0 10px 60px;
margin-bottom:20px;
color:var(--theme-color)}.contact .info .email p {
padding-top:5px
}.contact .info .email:hover i,.contact .info .address:hover i,.contact .info .phone:hover i {
background:var(--theme-color-grad);
color:#fff
}.swiper {
padding-top:70px!important
}.swiper-slide {
height:auto!important
}.swiper-pagination {
margin-top:20px;
position:relative
}.swiper-pagination .swiper-pagination-bullet {
width:12px;
height:12px;
background-color:#fff;
opacity:1;
border:1px solid var(--theme-color)}.swiper-pagination .swiper-pagination-bullet-active {
background:var(--theme-color)}.interests {
margin:10px 0
}.interests .heading h2 {
color:#fff;
margin-top:0
}.interests .card {
height:100%;
width:90%;
padding:20px 10px;
display:flex;
justify-content:center;
align-items:center;
cursor:pointer
}.interests .card .card-avatar {
max-width:100px;
max-height:100px;
border-radius:50%;
overflow:hidden;
border:2px solid var(--theme-color);
padding:20px;
top:20px;
position:absolute
}.interests .card .card-avatar .img {
width:100%;
height:auto;
filter:invert(45%) sepia(89%) saturate(1251%) hue-rotate(167deg) brightness(94%) contrast(85%);
transition:transform .5s
}.interests .card .card-caption {
font-weight:700;
color:#333;
text-decoration:none;
text-align:center;
margin-top:120px;
transition:transform .5s
}.interests .card:hover .card-avatar {
background:var(--theme-color-grad);
border:none
}.interests .card:hover .card-caption {
color:var(--theme-color)}.interests .card:hover .card-avatar .img {
filter:invert(1);
transform:scale(1.4)}.animate-box {
opacity:0
}.projects .card {
display:inline-block;
position:relative;
height:100%;
width:100%;
border-radius:6px;
color:#000000de;
background:#fff;
box-shadow:0 2px 2px 0 #00000024 0 3px 1px -2px #0003 0 1px 5px 0 #0000001f;
text-align:center;
cursor:grab
}.projects .card .card-avatar {
max-width:80px;
max-height:80px;
margin-left:-40px;
border-radius:50%;
overflow:hidden;
box-shadow:0 16px 38px -12px #0000008f 0 4px 25px 0 #0000001f 0 8px 10px -5px #0003;
background:var(--theme-color-grad);
border:2px solid #fff
}.projects .card .card-avatar .img {
width:100%;
height:auto;
filter:invert(1)}.projects .card .card-caption {
color:#333;
text-decoration:none
}.projects .card .card-caption i {
font-size:20px;
opacity:.6;
margin-inline:8px
}.sticky {
display:block;
position:fixed;
top:0;
width:100%}@media screen and (min-width: 600px) {#navbar {
overflow:hidden;
list-style:none;
background:var(--theme-color-grad);
z-index:100;
box-shadow:0 0 20px 5px #0000008f
}#navbar a {
float:left;
display:block;
color:#f2f2f2;
text-align:center;
padding:14px 16px;
text-decoration:none;
font-weight:600
}#navbar a:hover {
background-color:#fff;
color:var(--theme-color)}#navbar .navbar-social {
display:none
}}@media screen and (max-width: 600px) {#navbar {
list-style:none;
padding:0;
z-index:100;
background:var(--theme-color-grad);
position:fixed;
left:-160vw;
top:0;
width:100%;
height:100%;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
transition:.5s;
gap:0
}#navbar.active {
left:0
}#navbar .navbar-item {
padding-block:10px;
width:100%;
text-align:center
}#navbar .navbar-item a {
display:block;
width:100%}#navbar a {
color:#fff;
font-weight:600;
font-size:20px;
text-decoration:none
}#navbar .navbar-item:hover {
background:#fff
}#navbar .navbar-item:hover a {
color:#000;
text-decoration:none
}#navbar .navbar-social {
display:inline
}#navbar .navbar-social a {
display:inline-block;
color:#fff;
padding:0 10px
}#navbar .navbar-social img {
width:22px;
margin-top:-6px
}}
blockquote {
width:75%;
margin:0 auto
}
blockquote p {
font-style:italic;
margin-bottom:0;
text-indent:2.5rem
}
blockquote p::before,blockquote p::after {
content:"\f10d";
font-family:"FontAwesome";
font-size:30px;
margin:-1rem 0 0 -5rem;
position:absolute;
opacity:.5
}
blockquote p::after {
content:"\f10e";
margin:-.6rem 0 0 -2rem
}